nav {
    background-color: #333;
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  